.swiper {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper a {
  color: #FFBA08;
}

.swiper-slide {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.65);
}

.swiper-button-prev, .swiper-button-next {
  width: 15px;
  height: 30px;
  color: #FFBA08;
}

.swiper-button-prev {
  margin-left: 42.5px;
}

.swiper-button-next {
  margin-right: 42.5px;
}

.swiper-pagination-bullet, .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
}

.swiper-pagination-bullet {
  background: #999999;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #FFBA08;
}


@media (max-width: 479px) {
  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 1rem;
  }

  .swiper-button-prev {
    margin-left: 20px;
  }
  
  .swiper-button-next {
    margin-right: 20px;
  }
  
  .swiper-pagination-bullet, .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
  }
}